{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/add_expense.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="expense-container" data-edit-url="{% url 'SourceProg:edit_category' 0 %}">

  <h2>Добавить расход</h2>
  <hr>

  <div class="mb-3 navigation-buttons">
    <a href="{% url 'SourceProg:analytics' %}" class="btn btn-chart">Диаграмма</a>
    <a href="{% url 'SourceProg:expense_history' %}" class="btn btn-history">История</a>

      <a href="{% url 'SourceProg:credits' %}" class="btn btn-chart">Кредиты</a>
      <a href="{% url 'SourceProg:debts' %}" class="btn btn-chart">Долги</a>
      <a href="{% url 'SourceProg:categories' %}" class="btn btn-chart">Категории</a>
  </div>

  {% if form %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group category-section">
        <label for="category">Категория</label>
        {{ form.category }}
      </div>

      <div class="form-group">
        <label for="amount">Введите сумму</label>
        {{ form.amount }}
      </div>

      <div  class="form-group">
        <label  for="comment">Комментарии</label>
        {{ form.comment }}
      </div>

      <div class="form-group">
        <label for="photo">Фото</label>
        {{ form.photo }}
      </div>

      <button type="submit" class="btn btn-submit">Добавить</button>
    </form>
  {% else %}
    {% if error_message %}
      <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}
  {% endif %}

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/add_expense.js' %}"></script>
{% endblock %}
