{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% block title %}О платформе{% endblock %}

{% block content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
<section class="about-container">

    <div class="about-block">
        <h2>О платформе</h2>
        <p>Наш сервис создан для удобного расчёта финансов. Мы помогаем пользователям управлять бюджетом легко и эффективно.</p>
        <img src="{% static 'img/about_1.png' %}" alt="Описание платформы">
    </div>

    <hr>

    <div class="about-block">
        <h2>Возможности</h2>
        <p>Воспользуйтесь широким функционалом:</p>
        <ul>
            <li>📊 Автоматический подсчёт</li>
            <li>🖥️ Простая визуализация данных</li>
            <li>✅ Гибкие настройки</li>
        </ul>
        <img src="{% static 'img/about_2.png' %}" alt="Функционал платформы">
    </div>

    <hr>

    <div class="about-block">
        <h2>Как начать?</h2>
        <p>Пройдите регистрацию и начните работать с финансами в пару кликов!</p>
        <img src="{% static 'img/about_3.png' %}" alt="Как начать">
    </div>
</section>
{% endblock %}
