<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <p>Введите ваш email, и мы отправим вам инструкции по сбросу пароля.</p>

        {% if form.errors %}
            <p style="color: red;">{{ form.non_field_errors }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сбросить пароль</button>
        </form>
        <a href="{% url 'userauth:login' %}">Назад</a>
    </div>
</body>
</html>
