<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сменить логин</title>
    <link rel="stylesheet" href="/static/css/formstyle.css">
</head>
<body class="auth-body">
    <button class="back-button" onclick="window.history.back();">Назад</button>
    <div class="login-container">

        <!-- Правая часть с формой -->
        <div class="form-container">
            <h2>Сменить логин</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Обновить</button>
            </form>
        </div>
    </div>
</body>
</html>
