<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}">
</head>
<body class="auth-body">
    <a href="{% url 'main:home' %}" class="back-button">Назад</a>
    <div class="login-container">
        <div class="form-container">
            <h2>Вход</h2>

            <!-- Вывод сообщений об ошибках, если есть -->
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}

            <form method="post">
                {% csrf_token %}

                <!-- Поле для ввода имени пользователя или email -->
                <div class="form-group">
                    {{ form.username|add_class:"form-control" }}
                    {% if form.username.errors %}
                        <div class="error">
                            {% for error in form.username.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Поле для ввода пароля -->
                <div class="form-group">
                    {{ form.password|add_class:"form-control" }}
                    {% if form.password.errors %}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit">Войти</button>
            </form>

            <p><a href="{% url 'userauth:password_reset_by_login' %}" class="forgot-password">Забыли пароль?</a></p>
            <p>Нет аккаунта? <a href="{% url 'userauth:register' %}">Зарегистрироваться</a></p>
        </div>
        <div class="login-image">
            <img src="{% static 'img/enter.png' %}" alt="Вход">
            <div class="social-login">
                <button class="google-login">Войти через Google</button>
                <button class="facebook-login">Войти через Facebook</button>
            </div>
        </div>
    </div>
</body>
</html>
