<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введите новый пароль</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
</head>
<body>
<a href="{% url 'userauth:login' %}" class="back-button">Назад</a>
    <div class="container">
        <h2>Введите новый пароль</h2>


        <form method="post">
            {% csrf_token %}
            <label for="new_password1">Новый пароль:</label>
            <input type="password" id="new_password1" name="new_password1" required>

            <label for="new_password2">Повторите пароль:</label>
            <input type="password" id="new_password2" name="new_password2" required>
            {% if form.errors %}
                <div class="error-message">
                    <img src="{% static 'img/warning.png' %}" alt="Ошибка" class="error-icon">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button type="submit">Сохранить новый пароль</button>
        </form>
    </div>
</body>
</html>
