<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пароль изменён</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/check.png' %}" alt="Успешно" class="success-icon">
        <h2 class="success-title">Пароль успешно изменён</h2>
        <p>Теперь вы можете войти в аккаунт с новым паролем.</p>
        <a href="{% url 'userauth:login' %}" class="button">Перейти к авторизации</a>
    </div>
</body>
</html>
