<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
</head>
<body>
    <a href="{% url 'userauth:login' %}" class="back-button">Назад</a>
    <div class="container">
        <h2 class="reset-title">Сброс пароля</h2>
        <p>Введите ваш логин, чтобы сбросить пароль.</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            {% if form.errors %}
                <div class="error-message">
                    <img src="{% static 'img/warning.png' %}" alt="Ошибка" class="error-icon">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <button type="submit" class="submit-button">Далее</button>
        </form>
    </div>
</body>
</html>
